<div class="container px-5">
    <div class="card text-center card-info mx-5">
        <card class="card-header">
            <h4 class="text-primary text-uppercase">
                <%= titulo %>
            </h4>
        </card>
        <form action="/dash/nivel" method="post">
            <div class="card-body my-5">
                <select name="curso" id="select" multiple="simple" required>
                    <option value="0">JAVA</option>
                    <option value="1">PHP</option>
                    <option value="2">.NET</option>
                </select>
            </div>
            <div class="card-footer">
                <% if (left) { %>
                <a href="">
                    <img class="rounded float-left" src="/images/left.png">
                </a>
                <% } %>
                <% if (right) { %>
                <button type="submit" class="btn">
                    <img class="rounded float-right" src="/images/right.png">
                </button>
                <% } %>
            </div>
        </form>
    </div>
</div>