<div class="card">
    <div class="card-header">
        <h4>Resultado</h4>
    </div>
    <div class="card-body">
        <h3>
            <span class="text-primary text-uppercase">curso:</span>
            <span class="text-uppercase"><%= detalle.curso %></span>
        </h3>
        <h3>
            <span class="text-primary text-uppercase">tipo de pago:</span>
            <span class="text-uppercase"><%= detalle.pago %></span>
        </h3>

        <h4 class="text-success">
            Total a Pagar:
            <%= pago %>
        </h4>

    </div>
</div>